apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name | default "api" }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: api
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 3000
